<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Rishikesh Webpage</title>
  </head>
  <body>
  <style>
      #title
      {
          font-size: 50px;
          text-align: center;
          font-family: Arial;
          background: black;
          color: red;
      }

      .main
      {
          font-family: Arial;
          font-size: 20px;

          background: cyan;
          color: black;
      }
  </style>

       {% if error %}
           <h1>  {{ error }}  </h1>

       {% endif %}

       {% if information %}

           <table align="center" border="2" width="1200">
           <tr><th id="title" colspan="6">Covid-19 Medical_College Information - India</th></tr>
           <tr>
               <th class="main">State</th>
               <th class="main">Name</th>
               <th class="main">City</th>
               <th class="main">Ownership</th>
               <th class="main">Capacity</th>
               <th class="main">Hosp_Beds</th>
           </tr>
{#           <tr>#}
{#               <th class="main">{{ information.data.summary.state }}</th>#}
{#               <th class="main">{{ information.data.summary.name }}</th>#}
{#               <th class="main">{{ information.data.summary.city }}</th>#}
{#               <th class="main">{{ information.data.summary.ownership }}</th>#}
{#               <th class="main">{{ information.data.summary.admissionCapacity }}</th>#}
{#               <th class="main">{{ information.data.summary.hospitalBeds }}</th>#}
{#           </tr>#}
{##}
{#           <tr>#}
{#               <th style="font-size: 25px; text-align: center; color: red" colspan="7">Statewise Information</th>#}
{#           </tr>#}

{##}
{#           <tr>#}
{#               <th class="main">States</th>#}
{#               <th class="main">Rural Hospitals</th>#}
{#               <th class="main">Rural Beds</th>#}
{#               <th class="main">Urban Hospitals</th>#}
{#               <th class="main">Urban Beds</th>#}
{#               <th class="main">Total Hospitals</th>#}
{#               <th class="main">Total Beds</th>#}
{#           </tr>#}



           {% for x in information.data.medicalColleges %}
           <tr>
               <th> {{ x.state }}</th>
               <th> {{ x.name }}</th>
               <th> {{ x.city }}</th>
               <th> {{ x.ownership }}</th>
               <th> {{ x.admissionCapacity }}</th>
               <th> {{ x.hospitalBeds }}</th>

           </tr>
               {% endfor %}
           </table>
           {{ data }}

       {% endif %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>